#app-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-result {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  outline: 1px solid;
  width: 50vw;
  height: 50vw;
  overflow: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}

#search-result li {
  flex-basis: 25%;
}

#search-result li a {
  display: block;
}

#search-result li img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}